* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f7fb
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h2 {
    font-size: 38px; 
    line-height: 70px
}

.my-text-primary {
    color: #ffa200 !important;
}

.my-h-100 {
    min-height: 100vh;
}
.my-h-50 {
    min-height: 50vh;
}
.my-h-25 {
    min-height: 25vh;
}

#banner {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.bg-golden {
    background-color: #FFA200;
}

.bg-clear {
    background-color: white
}

.text-clear {
    color: white
}

h5 {
    line-height: 10vh
}

/* Reset Bootstrap */
.navbar-dark .navbar-toggler {
    border: 0;
}

.op {
    opacity: 0.3;
}
.op-sm {
    opacity: 0.5;
}
.op-md {
    opacity: 0.7;
}
.op-lg {
    opacity: 0.9;
}